* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  display: grid;
  background-color: rgb(192, 191, 191);
}

header {
  text-align: center;
  background-color: burlywood;
}

div.info {
  text-align: center;
  color: black;
  background-color: rgb(206, 139, 80);
  border: 2px solid black;
  margin-left: 285px;
  margin-right: 285px;
}

div.image-container {
  display: grid;
}

img {
  align-self: center;
  justify-self: center;
  height: 610px;
  width: auto;
  border: 2px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px 2px #888;
}

div.car-facts {
  border: 2px solid black;
  margin-left: 285px;
  margin-right: 285px;
}

h3 {
  text-align: center;
  color: black;
  background-color: rgb(206, 139, 80);
}

ul {
  list-style: none;
  text-align: center;
  color: black;
  background-color: rgb(206, 139, 80);
}
